<app-card-item
	relativePathIcon="assets/images/icon1.png"
	title="HOW TO SHARE INFORMATION WITH THESE PROFESSIONALS?"
	(toggle)="reloadGraphic($event)"
>
	<div class="card__wrapper">
		<div class="rec-btn">
			<img src="assets/images/like.png" class="btn-like">
			<p class="text-btn">PREFERRED
				<br>MEDIA
			</p>
		</div>

		<img class="rec-icon" src="assets/images/overview/arrow-right.svg" />

		<div class="rec-panel">
			<div class="item">
				<img src="assets/images/overview/handshake.svg" />
				<p>Except for clerks, <strong>all categories</strong> prefer to obtain content by <strong>reading scientific studies.</strong></p>
			</div>
			<div class="item">
				<img src="assets/images/overview/doctors.svg" style="width: 172px;" />
				<p><strong>In 2nd place</strong>, for <strong>doctors and nutritionists</strong>, the most interesting medium is <strong>in-person events and congresses.</strong></p>
			</div>
			<div class="item">
				<img src="assets/images/overview/medical-appointment.svg" />
				<p>Among <strong>physical therapists and pharmacists, the 2nd most interesting medium is online search</strong> (e.g.: Google).</p>
			</div>
			<div class="item">
				<img src="assets/images/overview/dugstore.svg" style="width: 61px;" />
				<p><strong>Clerks</strong> prefer <strong>online searches</strong>, followed by <strong>in-person conversation with other professionals.</strong></p>
			</div>
		</div>
	</div>
</app-card-item>
